<%- include ../partials/header.ejs %>
<%- include ../partials/top_nav.ejs %>
 
<main class="container">
    <br>
    <a href="/contacts/add" class="btn btn-primary"><i class="fa-solid fa-plus fa-lg"></i> Contact Me</a>
    <br>

      <h1>Contact Me</h1>
      
      <div class="contact-section">
        <img src="/images/contact.jpg" alt="Contact Image" class="contact-image">
        <div class="contact-info">
          <p>Email: clee313@my.centennialcollege.ca</p>
          <p>Phone: (416) 123-4567</p>
          <p>Address: 123 Example Street, Toronto, ON, M2N 1C2</p>
        </div>
      </div>

    </main>

<%- include ../partials/bottom_nav.ejs %>  
<%- include ../partials/footer.ejs %>

